@font-face {
  src: url(../Assets/Fonts/Oswald-Bold.ttf);
  font-family: oswaldBold;
}
@font-face {
  src: url(../Assets/Fonts/Oswald-Medium.ttf);
  font-family: oswaldMedium;
}

@font-face {
  src: url(../Assets/Fonts/Oswald-Light.ttf);
  font-family: oswaldRegular;
}
