.primary-text-color {
  color: $primary-golden;
}
.priamry-border {
  border: 2px solid;
}
.primary-border-color {
  border-color: $primary-golden;
}
.primary-background-color {
  background-color: $primary-golden;
}
