@import "./media-quries.scss";

.genre {
  .genre-title {
    font-family: oswaldBold;
    color: $primary-golden;
    font-size: 10rem;
    text-align: center;
    @include for-phone-only {
      font-size: 4.5rem;
    }
  }
}
