.specific-movie {
  .movie-name {
    font-family: oswaldMedium;
    font-size: 2.5rem;
  }
  .movie-genre {
    font-family: oswaldRegular;
  }
  .movie-overview {
    // font-family: oswaldRegular;
    // word-spacing: 0.3rem;
    // letter-spacing: 0.01rem;
  }
}
